<a *ngIf="route !== undefined && download === false" class="btn {{class}}" [class.odd]="odd" role="button" routerLink="{{route}}" routerLinkActive="active" attr.aria-label="{{ariaLabel}}">{{label}}</a>

<a *ngIf="href !== undefined && download === false" class="btn {{class}}" role="button" href="{{href}}" target="{{newWindow && '_blank' || '' }}" attr.aria-label="{{ariaLabel}}">{{label}}</a>

<a *ngIf="download === true" role="button" href="{{href}}" target="{{newWindow && '_blank' || '' }}" attr.aria-label="{{ariaLabel}}">

	<div class="download btn">
		<svg viewBox="0 0 28.556 28.6" width="28.556" height="28.6">
		  <g transform="matrix(0.05845, 0, 0, 0.05845, 0, 0)">
		    <g>
		      <path d="M244.65,0c-6.8,0-12.2,5.5-12.2,12.3V342l-55.9-55.9c-4.8-4.8-12.5-4.8-17.3,0s-4.8,12.5,0,17.3l76.8,76.8
					c2.4,2.4,5.5,3.6,8.7,3.6c3.1,0,6.3-1.2,8.7-3.6l76.8-76.8c4.8-4.8,4.8-12.5,0-17.3s-12.5-4.8-17.3,0l-55.9,55.9V12.3
					C256.95,5.5,251.45,0,244.65,0z" style="fill: white;"></path>
		      <path d="M476.25,464.7H13.05c-6.8,0-12.3,5.5-12.3,12.3s5.5,12.3,12.3,12.3h463.2c6.8,0,12.3-5.5,12.3-12.3
					S483.05,464.7,476.25,464.7z" style="fill: white"></path>
		    </g>
		  </g>
		</svg>
	</div>
	<span>.pdf</span>

</a>