@import "~src/styles/_variables";

// Global overrides
header {
	background-image: cdn-image('bg/header-playbook', c_scale, w_1440);	
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5%;
	padding-bottom: 15%;

	.intro {	
		background: $off-white;

		@include not-phones {
			padding-bottom: 15%
		}
		#dots {
			z-index: 0;
			@include not-phones {
				padding-top: 10%;
				padding-left: 50%;
			}
		}
	}
}

#intro {
	@include font('Proza Libre', 500, em(24px));

	@include not-phones {
		margin-left: 33%;
	}
	@include phones {
		font-size: em(18px);
	}

	margin-bottom: 5%;
  letter-spacing: 0.5px;

  canvas {
		@include not-phones {
			left: 20%;
		}
		@include phones {
			display: none;
		}
  }
}

#plays {
	.play {
		grid-column: 1 / span 1;
		
		@include not-phones {
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-template-row: 1fr 1fr;
		}

		@include phones {
			margin-top: 10%;
			&:nth-child(even) {
				.top {
					flex-direction: row-reverse;
					.left { 
						width: 65%;
					}
					.title {
						width: 100%;
					}
				}
			}
			canvas {
				display: none;
			}
		}

		h1 {
			@include font('Butler-Black', 800, em(72px));
			@include phones {
				@include font('Butler-Bold', 800, em(36px));
				margin: 0;
			}
		}

		&:nth-child(1) {
			canvas {
				right: 20%;
			}
		}
		&:nth-child(2) {
			canvas {
				left: 30%;
				margin-top: 20%;
			}
		}
		&:nth-child(4) {
			canvas {
				left: 10%;
				margin-top: 10%;
			}
		}
		&:nth-child(5) {
			canvas {
				margin-top: 10%;
			}
		}

		::ng-deep img {
			@include not-phones {
				min-height: 300px;
				min-width: 132px;
			}
		}

		.top {
			display: flex;
			flex-direction: row;
			width: 100%;
			@include not-phones {
				grid-column: 1 / span 2;
			}
		}	

		.left { 
			@include not-phones {
				text-align: center;
			}
			width: 40%;
		}
		.title {
			width: 40%;
		}

		.text {
			font-weight: 600;
		  line-height: 1.43;
		  letter-spacing: 0.5px;
			grid-column: 2;
			@include phones {
				grid-column: 1 / span 2;
			}
		}

		learn-more-btn {
			float: inline-end;
		}
	
	}

	.ideas {
		display: grid;
		grid-template-columns: 20% auto 20%;
		grid-column: 1 / span 2;
		background: $off-white;

		div {
			grid-column: 2;
		}

		ul {
			@include font('Cabin', 600, em(24px));
			letter-spacing: 2.4px;
			list-style: none;

			padding: 0;
			margin: 0;
 			
 			li {
 				display: flex;
		    padding-left: 5%; 
		    &:before {
				  content: "*"; 

				  position: relative;
				  left: -5%;
				  bottom: -3px;
				}
		  }
		}
	}
}