<header class="main-head">		

	<div class="intro">

		<div class="indent">
			<canvas id="dots" width="240" height="250"></canvas>
		  <h1>
		  	Playbook
		  </h1>
		</div>

	</div>

</header>

<div class="content">

 <section id="intro">
	<canvas width="200" height="200"></canvas> 	
 	<p>These five plays are actions that can be taken by the range of actors involved in the design and implementation of the smart city, prioritizing a values-first approach that can be implemented across organizations.</p>
 </section>

	<section id="plays">
		<div *ngFor="let play of content; let i = index;" class="play" id="play_{{i}}">

				<div class="top">
					
					<div class="left">
					  <cdn-image class="not-phones" cloudinaryId="playbook/num-{{i+1}}.svg" width="100" autoFormat="false" alt="Play #{{i+1}} icon"></cdn-image>
					  <cdn-image class="phones" cloudinaryId="playbook/num-{{i+1}}.svg" width="{{i==0 ? 52 : 84}}" autoFormat="false" alt="Play #{{i+1}} icon"></cdn-image>
					</div>

					<div class="title">
						<h1>{{play.name}}</h1>
					</div>

				</div>

				<div class="text">
					<canvas  width="200" height="200"></canvas> 	

					<p>{{play.blurb}}</p>

				  <learn-more-btn route="/playbook/{{play.key}}"></learn-more-btn>
				</div>

		</div>
	</section>
	
</div>