@import "~src/styles/_variables";

// Global overrides
header {
	background-image: cdn-image('bg/header-playbook', c_scale, w_1440);	
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5%;
	padding-bottom: 15%;

	.intro {	
		background: $off-white;
		padding-bottom: 15%
	}
}

#intro {
	@include font('Proza Libre', 500, em(24px));

	@include not-phones {
		margin-left: 33%;
	}

	margin-bottom: 5%;
  letter-spacing: 0.5px;
}

#plays {
	.play {
		display: grid;
		grid-column: 1 / span 1;
		grid-template-columns: 1fr 2fr;
		grid-template-row: 1fr 1fr;
		
		@include phones {
			margin-left: 2%;
			margin-right: 2%;
			h1 {
				font-size: 1em;
			}
		}

		::ng-deep img {
			min-width: 132px;
			min-height: 300px;
		}

		.text {
			grid-column: 2;
			@include phones {
				grid-column: 1 / span 2;
			}
		}
	
	}

	.ideas {
		display: grid;
		grid-template-columns: 20% auto 20%;
		grid-column: 1 / span 2;
		background: $off-white;

		div {
			grid-column: 2;
		}

		ul {
			@include font('Cabin', 600, em(24px));
			letter-spacing: 2.4px;
			list-style: none;

			padding: 0;
			margin: 0;
 			
 			li {
 				display: flex;
		    padding-left: 5%; 
		    &:before {
				  content: "*"; 

				  position: relative;
				  left: -5%;
				  bottom: -3px;
				}
		  }
		}
	}
}