<div>
	<a routerLink="{{route}}">
		<span id="txt">learn more</span>
		<span id="arrow">

			<svg viewBox="0 0.35 24.557 21.188" width="24.557" height="21.188">
			  <defs>
			    <style>.cls-1{fill:none;stroke:blue;stroke-miterlimit:10;}</style>
			  </defs>
			  <g id="Layer_2" data-name="Layer 2" transform="matrix(0.701615, 0, 0, 0.605361, 0, 0.138124)">
			    <g id="Layer_5" data-name="Layer 5">
			      <line class="cls-1" x1="35" y1="17.85" y2="17.85"></line>
			      <polyline class="cls-1" points="17.5 0.35 35 17.85 17.5 35.35"></polyline>
			    </g>
			  </g>
			</svg>
			
		</span>
	</a>
</div>