@import "~src/styles/_variables";

header {
  background-color: $off-white;

  .banner {
		position: absolute;
		top: 0;
		left: 0;

		@include phones {
			max-width: 160px;
		}
  }
  .intro {
  	margin-top: 14%;
  	margin-left: 12%;
  	grid-column: 2;

		@include phones {
			margin: 0;
	  	grid-column: 1 / span 12;
		}
  }
}

h1 {
	#making {
		@include font('Proza Libre', 500);
		font-size: .7em;
	}
	#a {
		@include font('Proza Libre');
		font-size: .5em;
	}
}

#plays {
	display: grid;
	grid-template-columns: 1fr 1fr;

	h2 {
		font-size: em(72px);
	}

	.img {
		position: relative;
		z-index: -3;
		top: -40%;			
		left: 20%;
	}

	#list {
		display: grid;
		position: relative;
		margin-top: -43%;
		grid-column: 1 / span 3;
		grid-template-columns: 1fr 1fr 1fr;

		div {		
				font-size: em(24px);
				@include font('Proza Libre', 800);
			h3 {	
				margin: 0;
				font-size: em(64px);
			}
		}
	}
}

	
#share-bg {
	
	@include not-phones {
		position: relative;
		top: -10%;			
		left: -10%;
	}
	background-image: cdn-image('bg/home-share', c_scale, w_320);	
	background-repeat: no-repeat;

}

#share {	

	display: grid;
	margin-top: 10%;
	margin-left: 10%;
	
	grid-auto-rows: auto;
  grid-template-columns: 60% auto;
  grid-template-areas:
	  "head head"
	  "blue blue"
	  "txt button";

	@include phones {
		margin: 4%;
		grid-template-areas:
	  "head head"
	  "blue blue"
	  "txt txt"
	  "button button";
	}

  align-items: center;
	color: white;
	padding: 10%;
  background-color: $pine;

  h3 {
  	grid-area: head;
		@include phones {
			font-size: em(18px);
		}
  }
  span {
  	display: block;
  	grid-area: blue;
		width: 25px;
	  height: 5px;
	  background-color: $primary-blue;
  }
  p {
  	grid-area: txt;
		@include phones {
			font-size: em(10px);
		}
  } 
  app-button {
  	grid-area: button;
  }
  
}