<header class="main-head">
  <div class="intro">
    <div class="banner">
      <cdn-image
        class="corner-img img"
        cloudinaryId="bg/home-topleft.png"
        gravity="center"
        height="260"
        width="430"
        crop="fill"
        alt="Icon for Reward"
        data-rellax-speed="3"
      ></cdn-image>
    </div>

    <div class="indent">
      <canvas id="dots" width="350" height="410"></canvas>

      <h1>
        Civic Smart City
      </h1>

      <div class="stagger">
        <div class="left">
          <h4>Community-centered approach to questioning and discovering the value of urban technologies</h4>
          <learn-more-btn route="/betablocks"></learn-more-btn>
        </div>
        <section >
            <div class="flex">
              <p class="right">
                Civic Smart City seeks to create and promote value sensitive approaches to identifying and implementing urban technologies. It explores new modes of public engagement, media literacy and shared governance that are necessary for creating equitable and just smart cities.
              </p>
              
            </div>
        </section>
      </div>
    </div>
  </div>
</header>

<div class="content">
  <section id="img">
    <cdn-image
      class="img"
      cloudinaryId="bg/home-plays.png"
      gravity="center"
      width="526"
      crop="scale"
      alt="'Workshop' background image"
      data-rellax-speed="-4"
      data-rellax-percentage="0.5"
    ></cdn-image>
  </section>

  <section id="playbook">
    <canvas #dotsPlaybook width="480" height="200"></canvas>

    <h1>Guiding Values</h1>

    <div class="flex reverse">
      <div class="left">
        <p>
          These five plays are actions that can be taken by the range of actors
          involved in the design and implementation of the smart city,
          prioritizing a values-first approach that can be implemented across
          organizations.
        </p>
        <app-button
          label="View Playbook"
          route="/guiding-values"
          ariaLabel="Click to view playbook"
          class="pine"
        >
        </app-button>
      </div>
      <div class="image">
        <!-- <cdn-image cloudinaryId="icons/playbook.svg" width="360" autoFormat="false" alt="'Playbook' icon image"></cdn-image> -->
        <img
          src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_720/v1536767858/making-smart-city/icons/playbook.svg"
          style="max-width: 360px;"
          alt="'Playbook' icon image"
        />
      </div>
    </div>

    <div id="list">
      <div *ngFor="let title of playTitles; let i = index" class="play-title">
        <h3 class="stroke">{{ i + 1 }}</h3>
        {{ title }}
      </div>
    </div>
  </section>
  <section id="workshop">
    <h1>Workshop</h1>
    <h3>Run your own smart city workshop</h3>

    <div class="flex">
      <div class="left">
        <p>
          This workshop brings together people in your place to define your own
          localized version of ‘smart’, and encourage greater participation in
          the civic processes of designing the smart city.
        </p>
        <app-button
          label="Get Started"
          route="/workshop"
          ariaLabel="Go to Workshop"
          class="pine"
        ></app-button>
      </div>
      <div class="image">
        <img
          src="https://res.cloudinary.com/engagement-lab-home/image/upload/c_scale,f_auto,w_720/v1536767858/making-smart-city/icons/toolkit.svg"
          style="max-width: 360px;"
          alt="'Workshop' icon image"
        />
        <!-- <cdn-image cloudinaryId="icons/toolkit.png" width="720" autoFormat="true"></cdn-image> -->
      </div>
    </div>

    <h3 class="stroke">What’s inside</h3>
    <div class="flex">
      <div class="left">
        <ul>
          <li>
            <div>
              <h4>Agenda</h4>
              <p>
                Includes activities, discussion questions, and scenarios for
                exploring and shaping smart city discourse in your place.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <h4>Note-Taking Template</h4>
          </li>
          <li>
            <h4>5 Starter Plays</h4>
          </li>
        </ul>
      </div>
    </div>
  </section>

<!-- <section id="getstarted">

  <div class="right">
    <canvas #dotsGetStarted width="250" height="210"></canvas>
    <h3>Civic Smart City Case Study: Beta Blocks</h3>
    
    <app-button
    label="Learn More"
    route="/betablocks"
    ariaLabel="Go to Beta Blocks page"
    class="upper pine"
    >
  </app-button>
</div> 

</section>
  -->

  <section
    id="share-bg"
    class="img"
    data-rellax-speed="2"
    data-rellax-percentage="0.1"
  >
  <h1>Case Studies</h1>


      <a
      id="share-btn-1"
      class="share-btn"
      routerLink="betablocks/file/study"
      role="button"
      attr.aria-label="Go to next agenda step"
    >
      <div id="share" data-rellax-speed="-9" data-rellax-percentage="1">
        <div class="info">
          <h3>
            Download the &#8220;Beta Blocks&#8221; report
          </h3>
          <p>Putting publics in the loop of municipal technology decision-making</p>          
        </div>

        <app-button
          [download]="true"
          route="betablocks/file/study"
          ariaLabel="Download the white paper"
          parentElement="share-btn-1"
          class="white"
        ></app-button>
      </div>
    </a>

    <a
      id="share-btn-2"
      class="share-btn"
      href="{{ whitepaperUrl }}"
      role="button"
      attr.aria-label="Go to next agenda step"
    >
      <div id="share" data-rellax-speed="-9" data-rellax-percentage="1">
        <div class="info">
          <h3>
            &#8220;Making a Civic Smart City&#8221; white paper
          </h3>
          <p>Reflecting on &#8220;smart cities&#8221; and what that discourse means for your city</p>
        </div>

        <app-button
          [download]="true"
          href="{{ whitepaperUrl }}"
          ariaLabel="Download the white paper"
          parentElement="share-btn-2"
          class="white"
        ></app-button>
      </div>
    </a>
  </section>
</div>
