
	<header class="main-head">
	<div class="intro">
		<div class="banner">
		  <cdn-image class="corner-img img" cloudinaryId="bg/home-topleft.png" gravity="center" height="260" width="430" crop="fill" alt="Icon for Reward" data-rellax-speed="3"></cdn-image>
		</div>
	  
	  <div class="indent">
			<div class="particles" id="particles-js"></div>	  

		  <h1>

		  	<span id="making">Making</span> <span id="a"> A</span><br />
	      Civic Smart City

		  </h1>

		  <div class="stagger">
			  <div class="left">

				  <h2 class="stroke">How do we make smart cities civic?</h2>
				  <learn-more-btn></learn-more-btn>
			  </div>
			  <div class="right">
				  <h2>Run your own smart city workshop</h2>

				  <app-button label="Get Started" route="/" ariaLabel="" class="pine"></app-button>
			  </div>
			</div>  

		</div>
	</div>

</header>

<div class="content">

	<section id="img">
		<cdn-image class="img" cloudinaryId="bg/home-plays.png" gravity="center" width="526" crop="scale" alt="'Workshop' background image" data-rellax-speed="-4" data-rellax-percentage="0.5"></cdn-image>
	</section>

	<section id="workshop">

		<h1>Workshop</h1>

	  <div class="flex">
	  	<div class="left">
	  		<p>This workshop brings together people in your place to define your own localized version of ‘smart’, and encourage greater participation in the civic processes of designing the smart city.</p>
			  <app-button label="Get Started" route="/" ariaLabel="" class="pine"></app-button>
	  	</div>
	  	<div class="image">
			  <cdn-image cloudinaryId="icons/toolkit.png" width="341" autoFormat="true" alt="'Workshop' icon image"></cdn-image>
	  	</div>
	  </div>

	  <h3 class="stroke">What’s inside</h3>
	  <div class="flex">
	  	<div class="left">
	
				<ul>
					<li>

						<div>
							<h4>Full or Half Day Agenda</h4>
							<p>Includes activities, discussion questions, and scenarios for exploring and shaping smart city discourse in your place.</p>
						</div>
					</li>
				</ul>

	  	</div>
	  	<div>
				
				<ul>
					<li>
						<h4>Note-Taking Template</h4>
					</li>
					<li>
						<h4>5 Starter Plays</h4>
					</li>
				</ul>

	  	</div>
	  </div>
	</section>

	<section id="playbook">

		<h1>Playbook</h1>

	  <div class="flex reverse">
	  	<div class="left">
	  		<p>These five plays are actions that can be taken by the range of actors involved in the design and implementation of the smart city, prioritizing a values-first approach that can be implemented across organizations.</p>
			  <app-button label="View Playbook" route="/playbook" ariaLabel="Click to view playbook" class="pine"></app-button>

	  	</div>
	  	<div class="image">
			  <cdn-image cloudinaryId="icons/playbook.png" width="360" alt="'Playbook' icon image"></cdn-image>
	  	</div>
	  </div>

	  <div id="list">
			<div *ngFor="let title of playTitles; let i = index;" class="play-title"><h3 class="stroke">{{i+1}}</h3>{{title}}</div>
		</div>
	</section>

	<section id="share-bg" class="img" data-rellax-speed="1" data-rellax-percentage="0.3">
		<div id="share" data-rellax-speed="4" data-rellax-percentage="0.1">
			<h3>Download the &#8220;Making a Civic Smart City&#8221; white paper</h3>

			<app-button [download]=true route="/" ariaLabel=""></app-button>

		</div>
	</section>

</div>