@import "~src/styles/_variables";

header {

	@include not-phones {
		margin-bottom: 10%;
	}

  .banner {
		position: absolute;
		top: 0;
		left: 0;

		@include phones {
			max-width: 160px;
		}
  }
  .intro {
	  background-color: $off-white;
  }

	.stagger {
		display: flex;
		flex-direction: column;
		.right { 
			position: relative;
			padding-top: 5%;
			@include not-phones {
				left: 22%;
				width: 80%;
			}

			h2 {				
				font-size: em(40px);
			}
		}
	}
}

h1 {
	#making {
		@include font('Proza Libre', 500);
		font-size: .7em;
	}
	#a {
		@include font('Proza Libre');
		font-size: .5em;
	}
}

section {

	@include not-phones {
		.flex {
			display: flex;
			font-size: em(20px);		
			.left {
				width: 40%;
			}
			.image {
				padding-left: 10%;
			}
			&.reverse {
				flex-direction: row-reverse;
				.image {
					padding-left: 0%;
				}
				.left {
					padding-left: 10%;
				}
			}
		}
	}
	&#img {
		position: relative;
		z-index: -3;
		margin-top: -89%;
		left: 60%;
	}
	p {	
		@include font('Cabin', 400, em(14px));
		line-height: 1.4;
		letter-spacing: 1px;
	} 

	ul {
		list-style: none;
		li {
	    &:before {
			  content: "*";
			  color: $primary-blue;
				margin: 0 5px 0 -15px;
		    height: 20px;
		    display: block;
		    float: left;
		    margin-right: 5px;
			}
		}
  }
}

#workshop {

	margin-top: -18%;
	@include phones {
		margin-top: -24%;
	}

	h2 {
		font-size: em(72px);
	}
}

#playbook {

	top: 10%;

	#list {
		display: grid;
		position: relative;
		grid-column: 1 / span 3;
		grid-template-columns: 1fr 1fr 1fr;

		div {		
				font-size: em(24px);
				@include font('Proza Libre', 800);
			h3 {	
				margin: 0;
				font-size: em(64px);
			}
		}
	}

}
	
#share-bg {
	
	@include not-phones {
		position: relative;
		top: 20%;			
		left: -10%;
	}
	
	background-image: cdn-image('bg/home-share', c_scale, w_320);	
	background-repeat: no-repeat;
	margin-bottom: 18%;

}

#share {	

	display: grid;
	margin-top: 10%;
	margin-left: 10%;
	
	grid-auto-rows: auto;
  grid-template-columns: 60% auto;
  grid-template-areas:
	  "head head"
	  "blue blue"
	  "txt button";

	@include phones {
		margin: 4%;
		grid-template-areas:
	  "head head"
	  "blue blue"
	  "txt txt"
	  "button button";
	}

  align-items: center;
	color: white;
	padding: 10%;
  background-color: $pine;

  h3 {
  	grid-area: head;
		@include phones {
			font-size: em(18px);
		}
  }
  p {
  	grid-area: txt;
		@include phones {
			font-size: em(10px);
		}
  } 
  app-button {
  	grid-area: button;
  }
  
}