<div id="browser-warn">
  You are using a legacy browser that is not supported on this website, and may
  have a poor experience.<br />If possible, we recommend you use the latest
  version of Chrome, Safari, Firefox, or Edge.
  <br />
  <app-button
    label="Ok"
    href="#"
    ariaLabel="Dismiss browser warning"
    (click)="hideWarning()"
  ></app-button>
</div>
<app-nav></app-nav>

<div
  id="top"
  class="wrapper"
  [@fadeInAnimation]="o.isActivated ? o.activatedRoute : ''"
>
  <main>
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>

<footer>
  <h4>
    <span id="making">Making</span> <span id="a"> A</span><br />
    Civic Smart City
  </h4>

  <div id="contact">
    120 Boylston St.<br />
    Boston, MA<br />
    engagementlab@<br />emerson.edu
  </div>

  <ul>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/workshop">Workshop</a></li>
    <li><a routerLink="/guiding-values">Guiding Values</a></li>
    <!-- <li><a routerLink="/cities">Cities</a></li> -->
  </ul>

  <div id="top">
    <app-button [top]="true" class="pine"></app-button>
  </div>

  <div id="logos">
    <div>
      <cdn-image
        cloudinaryId="logos/logo-sm-black.png"
        width="100"
        alt="Engagement Lab @ Emerson College logo"
      ></cdn-image>
      <cdn-image
        cloudinaryId="logos/ca-p-logo.png"
        width="277"
        alt="City as Platform logo"
      ></cdn-image>
      <!-- <cdn-image cloudinaryId="logos/berkman-klein-center-logo.png" width="362" alt="The Berkman Klein Center for Internet & Society at Harvard University logo"></cdn-image> -->
    </div>
    <div>
      <cdn-image
        cloudinaryId="logos/asu-center.png"
        width="281"
        alt="ASU Center for Smart Cities and Regions logo"
      ></cdn-image>
      <cdn-image
        cloudinaryId="logos/kf-logo-stacked.png"
        width="240"
        alt="Knight Foundation logo"
      ></cdn-image>
    </div>
  </div>
</footer>

<!-- QA Build Banner -->
<div *ngIf="isQABuild === true" id="qa-build">
  <cdn-image
    cloudinaryId="qa-build.svg"
    autoFormat="false"
    width="50"
    alt="QA Build icon"
  ></cdn-image>
  <span id="text">QA BUILD</span>
  <div>May be unstable. Not intended for external use.</div>
</div>
