<app-nav></app-nav>

<div class="wrapper">
  
  <main>
    <router-outlet (activate)="activateRouter($event)" #o="outlet"></router-outlet>
  </main>

</div>

<footer>

  <h4>
    <span id="making">Making</span> <span id="a"> A</span><br />
    Civic Smart City
  </h4>
  <div id="contact">
    <!-- +1 (555) 555-5555 -->
    120 Boylston St<br />
    Boston, MA 02116 USA<br />
    engagementlab@emerson.edu
  </div>

  <ul>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/workshop">Workshop</a></li>
      <li><a routerLink="/playbook">Playbook</a></li>
      <li><a routerLink="/cities">Cities</a></li>
  </ul>

  <div id="logo-left">

    <cdn-image cloudinaryId="logos/el-logo-black.png" width="100" alt="Engagement Lab @ Emerson College logo"></cdn-image>

  </div>

  <div id="logo-right">
    <cdn-image cloudinaryId="logos/asu-center.png" width="281" alt="ASU Center for Smart Cities and Regions logo"></cdn-image>
    <cdn-image cloudinaryId="logos/kf-logo-stacked.png" width="240" alt="Knight Foundation logo"></cdn-image>

  </div>

</footer>

<!-- QA Build Banner -->
<div *ngIf="isQABuild === true" id="qa-build"> 

  <cdn-image cloudinaryId="qa-build.svg" autoFormat="false" width="50" alt="QA Build icon"></cdn-image>
  <span id="text">QA BUILD</span>
  <div>May be unstable. Not intended for external use.</div>

</div>