<nav>

  <cdn-image id="open" cloudinaryId="icons/nav" width="70" autoFormat="false" alt="Button to open navigation" aria-role="button" (click)="openNav()"></cdn-image>
  <!-- <cdn-image id="close" cloudinaryId="icons/close" width="70" autoFormat="false" alt="Button to close navigation" aria-role="button"></cdn-image> -->
	<svg id="close" viewBox="0 0 70 70" width="70" height="70" (click)="closeNav()">
	  <circle cx="35" cy="35" r="35" fill="#FFF" fill-rule="nonzero"></circle>
	  <line style="stroke: black;" x1="24.327" y1="22.814" x2="46.652" y2="45.141"></line>
	  <line style="stroke: black;" x1="25.128" y1="46.651" x2="46.385" y2="22.371"></line>
	</svg>
	<section id="menu">
		
		<h3>Plays</h3>
		<ul>
			<li>1 Embrace &ldquo;Smart cities&rsquo;</li>
			<li>2 Cultivate Local Innovation Ecosystem</li>
			<li>3 Invite Public Influence</li>
			<li>4 Question Data</li>
			<li>5 Imagine the Possible</li>
		</ul>

		<h3><a routerLink="/cities">Cities</a></h3>
		<ul>
			<li *ngFor="let city of cities">{{city}}</li>
		</ul>

		<h3>Resources</h3>
		<ul>
			<li>Video Testimonials</li>
		</ul>


	</section>

</nav>