@import "~src/styles/_variables";

// Global overrides
header {
	background: white;
	.intro {	
		padding: 10%;
		margin: 0;
	}
}

#listing {

	// display: flex;
	// flex-direction: column;
	// justify-content: space-evenly;
	margin-top: 30%;

	@include phones {
		.city {
			height: 465px;
		}
		.banner {
			position: absolute;
		}
  	grid-column: 1 / span 6;
  }

	.city {
		display: flex;
		flex-direction: row-reverse;

		align-items: center;
		justify-content: space-evenly;

		margin-bottom: 45%;

		.label {
	    display: flex;
			align-items: center;
	    justify-content: center;
	    flex-direction: column;

			@include phones {
				position: relative;
				height: 200px;
				width: 280px;
				background: white;
				z-index: 10;
				// margin-top: 18%;
				// right: 10%;
			}
		}

		h3 {
			font-size: em(36px);
			@include not-phones {
				font-size: em(44px);
			}
		}
		h4 {
			font-size: em(18px);
			text-transform: uppercase;
		}

		&.reverse {
			flex-direction: row;
			@include phones {
				.label {
					// left: 9%;
				}
			}
		}
	}

}