<header class="main-head">		

	<div class="intro">

		<div class="indent">
		  <h1 class="stroke">
		  	Play #X
		  </h1>
		  <h1>Play Name</h1>
		</div>

	</div>

</header>

<div class="content">

	<div class="columns">

		<section id="play-nav">
			<nav #stickyMenu [class.sticky]="sticky">
				<div><a>Introduction</a></div>
				<div><a>Discussion</a></div>
				<div><a>Action Ideas</a></div>
			</nav>
		</section>
	 
	 	<section id="text">
	 		<h2>Introduction</h2>
			<span class="blue"></span>

			<p class="lg">In conversations concerning smart cities, diverse perspectives can bring many different understandings of the definition of “smart” to the table; “smart” can refer to devices, data, analytics, processes, people, or all of those things. This breadth offers opportunities to strategically usher priorities into conversations about the future of the technologically enabled city. The term “smart city” has the power to draw companies, municipalities, researchers, and publics together to transition cities from the analog past into the digital future. Public values should define the contexts, nuances, and dynamics of such transitions, which might otherwise be subject only to market values.</p>
	 	</section>

	</div>
</div>