<header class="main-head">

	<div class="banner"></div>

	<div class="intro">

		<div class="indent">
		  <h1 class="stroke">
		  	Play #{{content?.sortOrder}}
		  </h1>
		  <h1>{{content?.name}}</h1>
		</div>

	</div>

</header>

<div class="content">

	<div class="columns">

		<section id="play-nav" #stickyMenu [class.sticky]="sticky">
			<nav>
				<div><a (click)="triggerScrollTo('introduction')">Introduction</a></div>
				<div><a (click)="triggerScrollTo('discussion')">Discussion</a></div>
				<div><a (click)="triggerScrollTo('actionideas')">Action Ideas</a></div>
			</nav>

			<div id="pdf" *ngIf="content?.pdf !== undefined">
				<p>Print a PDF of Play {{content?.sortOrder}}: {{content?.name}}</p>
				<app-button label="Download" href="{{content?.pdf.url}}" ariaLabel="Click to download PDF for this Play" class="pine"></app-button>
			</div>
		</section>
	 
	 	<section id="text">
	 		<h3 id="introduction">Introduction</h3>
			<span class="blue"></span>

			<p>{{content?.intro}}</p>

	 		<h3 id="discussion">Discussion</h3>
			<span class="blue"></span>

			<p>{{content?.discussion}}</p>
	 	</section>

		<section id="end">
			<div>
				<h3 id="actionideas">Action Ideas</h3>

				<span class="blue"></span>
				<div [innerHtml]="content?.actionIdeas.html"></div>
			</div>

		</section>

	<section id="next" #next>

		<a id="end-btn" routerLink="/playbook/{{nextPlayKey}}" role="button" attr.aria-label="Go to {{nextPlayName}}" *ngIf="hasNext">
			<section>
				
				<div>
					<div class="flex">
						<div class="stroke">Play #{{content?.sortOrder+1}}</div>
						<span class="blue"></span>
					</div>
					<p>{{nextPlayName}}</p>
				</div>

			 <app-button route="/agenda/{{nextPlayKey}}" [next]="true" parentElement="end-btn" ariaLabel="Go to next play" class="next"></app-button>
			</section>
		</a>

	</section>

	</div>
</div>