@import "~src/styles/_variables";

// Global overrides
header {
	margin-bottom: 5%;
  grid-template-rows: .5fr 2fr 1fr;

  .banner {
		grid-column: 1 /span 2;
		grid-row: 1 / span 1;
		background: $primary-blue;
		max-width: 100px;
		display: block;

		@include not-phones {
			display: none;
		}
  }
	
	.intro {
		grid-column: 1 / span 10;
		background-color: $primary-blue;
		padding-bottom: 15%;
		color: white;

		@include phones {
			grid-row: 2 / span 1;
		}
	}

	.stroke {
		@include font('Proza Libre', 800, em(36px));
		@include not-phones {
			font-size: em(64px);
		}
	  -webkit-text-stroke: 1px #fff;		
	}
	h1 {
		@include font('Butler-Bold', 800, em(48px));
		@include not-phones {
			font-size: em(64px);
		}
	}
}

nav {
	@include phones {
		display: none;
	}
	a {
		cursor: pointer;
	}
}

#pdf {
	
	@include phones {
		display: none;
	}

  font-size: em(14px);
  font-weight: 600;
  letter-spacing: 1.8px;
  text-transform: capitalize;

  p {
  	width: 60%;
  }

}

.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

.content {
	.columns {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-column: 3 / span 11;

		@include tablets {
			grid-column: 2 / span 12;

		}

		#play-nav {
			grid-column: 1;
		  text-transform: uppercase;
		  letter-spacing: 1.1px;
		  div {		  	
			  padding-top: 2%;
			  padding-bottom: 2%;
		  }
		  a {
				@include font('Proza Libre', 800, 1.2em);
			  color: $pine;
			}
		}
		#text {
			grid-column: 2;
			@include tablets {
				grid-column: 2 / span 2;
			}
			@include phones {
				font-size: em(12px);
			  letter-spacing: 0.5px;
			  line-height: auto;
			}
			font-size: em(18px);
		  line-height: 1.56;
		  letter-spacing: 0.6px;

		  h3 {
		  	margin-top: 0;
		  }
		}
		#end {
			display: grid;
			grid-column: 1 / span 3;

			@include not-phones {
				grid-template-columns: 1fr 2fr;
				padding-left: 0;
			}
			div {
				grid-column: 2;
			}
		}
	}

	::ng-deep ul {
		letter-spacing: 2.4px;
		list-style: none;

		padding: 0;
		margin: 0;
		margin-bottom: 8%;
			
		li {
			@include font('Cabin', 600, em(24px));
			@include phones {
				font-size: em(12px);
			}
			display: flex;
			margin-top: 5%;
	    padding-left: 5%; 
	    &:before {
			  content: "*"; 

			  position: relative;
			  left: -5%;
			  bottom: -3px;
			}
		}
	}
}

#intro {

	@include font('Proza Libre', 500, em(24px));
	margin-left: 33%;
	margin-bottom: 5%;
  letter-spacing: 0.5px;

}

#next {

	grid-column: 1 / span 2;

	@include tablets {
		grid-column: 1 / span 4;
	}
	@include phones {
		grid-column: 1 / span 12;
	}

	#end-btn {
		margin-top: 10%;

		.flex {
			display: flex;
			span {
				margin-top: 7%;
				margin-left: 15%;
			}
		}
		.stroke {
			font-size: 1em;
			@include not-phones {
				font-size: .3em;
			}
		}
		p {
			font-size: 1.4em;
			@include not-phones {
				font-size: 1em;
			}
			margin: 0;
			line-height: normal;
		}
	}

}