<section>
	<h3 class="stroke">
		Introduction
	</h3>
	<h4>15 min</h4>

	<span class="blue"></span>

	<p id="intro">Thank everyone for coming, and give a brief overview of the symposium’s goals and activities. Offer a broad definition of smart cities, and invite everyone to develop and refine their own thoughts about smart cities throughout the symposium. Answer any questions, and explain that each activity will be led by a facilitator.</p>
</section>

<section id="activity">

	<h3>Activity</h3>
	
	<div class="subactivity">
		<p class="body">Once everyone has finished writing, invite the table to choose and build one or more “frames of reference” using the available materials</p>
		<p class="duration">5 min</p>
	</div>
</section>

<section id="download">

	<a id="download-btn" href="" role="button" attr.aria-label="Download PDF for ..........">
		<section id="end">
			<div>
				<h4>Download</h4>
				<h3>Introduction</h3>
			</div>
			
			<app-button [download]=true parentElement="download-btn" route="/" ariaLabel="" class="pine"></app-button>
		</section>
	</a>

</section>

<section id="next">

	<a id="end-btn" routerLink="/agenda/step" role="button" attr.aria-label="Go to next agenda step">
		<section>
			
			<div>
				<div class="flex">
					<div class="stroke">Up Next</div>
					<span class="blue"></span>
				</div>
				<p>Framing The Smart City</p>
			</div>

		 <app-button route="/agenda/step" [next]="true" parentElement="end-btn" ariaLabel="Go to next agenda step" class="next"></app-button>
		</section>
	</a>

</section>