@import "~src/styles/_variables";

section {
	grid-column: 2 / span 7;

	@include phones {
		grid-column: 1 / span 12;
	}
}

h4 {
	@include font('Proza Libre', 800, em(18px));
	text-transform: uppercase;
}

#intro, #scenario {
	@include font('Cabin', 400, em(20px)); 
  line-height: 1.6;
}

.list {
	@include not-phones {
		&#reporting {
			grid-column: 2 / span 5;
		}
		grid-column: 4 / span 5;
	}
	::ng-deep ul {
		list-style: none;
		padding: 0;

		li {
			@include font('Proza Libre', 500, em(14px));
		  margin-top: 5%;

			strong {
				@include font('Butler', 500, em(14px));
			  display: block;
			  margin-top: 2%;
			  letter-spacing: 0.7px;
			  color: $primary-blue;
			}

			@include not-phones {
				font-size: em(24px);
			}
		}

	}
}

#download {

	grid-column: 2 / span 13;
	@include phones {
		grid-column: 1 / span 12;
	}

	#download-btn {
		a, h4 {
			color: black;
		}
	}
}


#next {

	grid-column: 2 / span 8;

	@include phones {
		grid-column: 1 / span 12;
	}

}

#end {
	@include not-phones {
		display: grid;
	  grid-template-columns: 2fr 1fr 1fr;
	  padding-top: 10%;
	  padding-bottom: 10%;
	}
	h4 {
		margin: 0;
	}
	h3 {
		color: $pine;
		margin: 0;
	}
	app-button {
		grid-column: 3;
	}
}

#end-btn {
	margin-top: 10%;


	.flex {
		display: flex;
		span {
			margin-top: 7%;
			margin-left: 15%;
		}
	}
	.stroke {
		font-size: 1em;
		@include not-phones {
			font-size: .3em;
		}
	}
	p {
		font-size: 1.4em;
		@include not-phones {
			font-size: 1em;
		}
		margin: 0;
		line-height: normal;
	}
}

#resources {
	h2 {
		@include font('Butler-Black', 800, em(64px));
		@include phones {
			font-size: em(36px);
		}
	}
	.flex {
		display: flex;
		align-items: center;
		&.reverse {
			flex-direction: row-reverse;
			.left {
				text-align: right;
			}
		}
	}
}