<h3 class="stroke">
	Introduction
</h3>
<h4>15 min</h4>

<span class="blue"></span>

<p id="intro">Thank everyone for coming, and give a brief overview of the symposium’s goals and activities. Offer a broad definition of smart cities, and invite everyone to develop and refine their own thoughts about smart cities throughout the symposium. Answer any questions, and explain that each activity will be led by a facilitator.</p>

<section id="activity">

	<h3>Activity</h3>
	
	<div class="subactivity">
		<p class="body">Once everyone has finished writing, invite the table to choose and build one or more “frames of reference” using the available materials</p>
		<p class="duration">5 min</p>
	</div>
</section>

<!-- <section id="end">
	<div>
		<h3 id="actionideas">Action Ideas</h3>

		<span class="blue"></span>
		<ul>
			<li>Embrace the smart city frame as an opportunity to highlight what matters in your place</li>
			<li>Turn jargon and technical language into language accessible to publics</li>
			<li>Use “smart” to revisit how your place engages publics</li>
		</ul>
	</div>

</section> -->

<a id="end-btn" routerLink="/agenda/step" role="button" attr.aria-label="Go to next agenda step">
	<section>
		
		<div>
			<div class="stroke">Up Next</div><!-- <span class="blue"></span> -->
			<p>Identify Values</p>
		</div>

	 <app-button label="Continue" route="/agenda/step" ariaLabel="Go to next agenda step" class="white"></app-button>
	</section>
</a>