<section>
	<h3 class="stroke">
		{{content?.name}}
	</h3>
	<h4>{{content?.duration}} min</h4>

	<span class="blue"></span>

	<p id="intro">{{content?.blurb}}</p>
</section>

<section id="activity" class="list" *ngIf="hasActivity">

	<h3>Activity</h3>
	
	<div [innerHtml]="content?.activity.html"></div>
</section>

<section id="scenario" *ngIf="hasScenario">
	
	<h3>Scenario</h3>
	
	<p>{{content?.scenario}}</p>

</section>

<section id="discussion" class="list" *ngIf="hasDiscussion">
	
	<h3>Discussion Questions</h3>
	
	<div [innerHtml]="content?.discussion.html"></div>

</section>

<section id="reporting" class="list" *ngIf="hasReporting">
	
	<h3>Reporting</h3>
	
	<div [innerHtml]="content?.reporting.html"></div>

</section>

<section id="download">

	<a id="download-btn" href="{{content?.pdf.url}}" role="button" attr.aria-label="Download PDF for {{content?.name}}">
		<section id="end">
			<div>
				<h4>Download</h4>
				<h3>{{content?.name}}</h3>
			</div>
			
			<app-button [download]=true parentElement="download-btn" href="{{content?.pdf.url}}" ariaLabel="Download PDF for {{content?.name}}" class="pine"></app-button>
		</section>
	</a>

</section>

<section id="resources" *ngIf="content?.key === 'concluding-remarks'">
	
	<h2>Additional Resources</h2>
  <div class="flex">
  	<div class="left">
  		<h3 class="stroke">Note-Taking Template</h3>
		  <app-button label="Download PDF" href="" ariaLabel="Click to download 'Note-Taking Template' PDF" class="pine"></app-button>
  	</div>
  	<div class="image">
  		<cdn-image cloudinaryId="icons/notes-pdf.png" width="292" alt="'Note-Taking Template' icon image"></cdn-image>
  	</div>
  </div>

  <div class="flex reverse">
  	<div class="left">
  		<h3 class="stroke">Starter Play Summaries</h3>
		  <app-button label="Download PDF" href="" ariaLabel="Click to download 'Starter Play Summaries' PDF" class="pine"></app-button>
  	</div>
  	<div class="image">
  		<cdn-image cloudinaryId="icons/summaries-pdf.png" width="292" alt="'Starter Play Summaries' icon image"></cdn-image>
  	</div>
  </div>

</section>

<section id="next" *ngIf="nextStep !== undefined">

	<a id="end-btn" routerLink="/agenda/{{nextStep.key}}" role="button" attr.aria-label="Go to next agenda step">
		<section>
			
			<div>
				<div class="flex">
					<div class="stroke">Up Next</div>
					<span class="blue"></span>
				</div>
				<p>{{nextStep.name}}</p>
			</div>

		 <app-button route="/agenda/{{nextStep.key}}" [next]="true" parentElement="end-btn" ariaLabel="Go to next agenda step" class="next"></app-button>
		</section>
	</a>

</section>