<header class="main-head">		

	<div class="intro">

		<div class="indent">
		  <h1>
		  	Workshop
		  </h1>
		</div>

	</div>

</header>

<div class="content">

 <section id="intro">

  <h2 class="stroke">Why do this?</h2>
  <h4>Every city needs to define its own approach to smart.</h4>
  <p class="justify">
  	This workshop offers a set of activities for exploring and shaping smart city discourse in your place. Sensors, algorithms, and new data flows and practices are rapidly changing governance in cities, and giving publics influence over the decisions that integrate new technologies and processes is imperative. To facilitate such participation of publics, we offer the following day-long symposium adapted from the model we piloted in March 2018.
  </p>
 
 </section>

	<section id="howto">

		<div>

		  <h3 class="heading"><p>How to</p>Begin</h3>
			<span class="blue"></span>
		  <p class="lg">Once you have secured a venue and date for your symposium, we recommend these criteria for recruiting participants:</p>

			<ul>
				<li>Diversity of disciplinary approach (i.e. policy, art, technology, education, community)</li>
				<li>Diversity in race, gender, age, income, and location (of residence and employment)</li>
				<li>Representativeness of participants</li>
				<li>Inclusivity by supporting robust participation–consider time, location, transportation, and cost for participants and see what resources may be available to support different needs.</li>
			</ul>

			<p class="justify">Activities are designed for a facilitator to lead at a table of up to eight participants, with a volunteer taking notes. The more participants you recruit, the more facilitators and note-takers you will want to train.</p>

		</div>

		<div>

		  <h3 class="heading"><p>How to</p>Prepare</h3>
			<span class="blue"></span>

			<p class="justify">To prepare for this symposium, choose an online platform accessible to the public where results from the symposium will be shared. We recommend you spend two to three hours training the people who will facilitate and take notes at table conversations. During the training, provide facilitators printed copies of this toolkit, and review the agenda. You may want to help facilitators co-create very short scripts for parts of the toolkit, which they would read to participants.</p>

		</div>

		<div>

		  <h3 class="heading"><p>How to</p>Document Outcomes</h3>
			<span class="blue"></span>

			<p class="lg">To record the event, we recommend recruiting a volunteer to take notes at each table. After the event, the facilitator and note-taker can use the notes to identify:</p>
			<ul>
				<li>Main ideas and themes</li>
				<li>New plays suggested by participants</li>
				<li>Tensions</li>
			</ul>

			<p class="justify">That data should be made publicly available online, along with the raw notes, pictures of the frames, and the prototypes produced by the tables. Please refer to Appendix 1 for a note-taking template.</p>

		</div>

	</section>

	<section id="end">
		<h1>Choose your<br />agenda</h1>

		<div class="buttons">			
		  <app-button label="Half Day" route="/" ariaLabel="" class="pine"></app-button>
		  <app-button label="Full Day" route="/" ariaLabel="" class="pine"></app-button>
		</div>
	</section>

</div>