@import "~src/styles/_variables";

// Global overrides
header {
	background-image: cdn-image('bg/header-workshop', c_scale, w_1440);	
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 5%;
	padding-bottom: 15%;

	.intro {	
		background: $off-white;

		@include not-phones {
			padding-bottom: 15%
		}
	}
}
ul {
	list-style: none;
	li {
    &:before {
		  content: "*";
			margin: 0 5px 0 -15px;
	    height: 20px;
	    display: block;
	    float: left;
	    margin-right: 5px;
		}
	}
}

.heading {
	margin: 0;
	p {
		margin: 0;
		text-transform: uppercase;
		font-size: .5em;
	}
}

#intro {
  letter-spacing: 2px;

	h2 {
		font-size: em(48px);
	}
	h4 {
		@include font('Proza Libre', 800);
	}

  @include not-phones {
	  h2 {
		  font-size: em(64px);
	  }
	  h4 {
		  letter-spacing: 1.5px;
		  font-size: em(24px);
		  text-transform: uppercase;
	  }
	}
}

#howto {
	display: flex;
	flex-flow: row wrap;
  letter-spacing: 2px;

	canvas {
		@include phones {
			display: none;
		}
	}

	div {
		@include not-phones {
			width: 45%;
			&:nth-child(2) {
				margin-left: 4%;
			}
		}
		&:nth-child(3) {
			width: 100%;
		}
	}
}
