<header class="main-head">
  <div class="banner"></div>

  <div class="intro">
    <div class="heading">
      <h1>
        <p>Beta Blocks</p>
      </h1>

      <app-button
        label="Download the Beta Blocks case study report"
        href=""
        ariaLabel="Click to view workshop guide"
        class="white sm hover-blue"
      ></app-button>
    </div>
  </div>
</header>

<div class="content">
  <section id="img">
    <cdn-image
      class="img not-phones"
      cloudinaryId="bg/bb-top.png"
      gravity="center"
      width="453"
      crop="scale"
      alt="'Beta Blocks' banner background image"
      data-rellax-speed="1"
      data-rellax-percentage="0.3"
    ></cdn-image>
    <cdn-image
      class="img phones"
      cloudinaryId="bg/bb-top.png"
      gravity="center"
      width="165"
      crop="scale"
      alt="'Beta Blocks' banner background image"
    ></cdn-image>
  </section>

  <section id="intro" [innerHtml]="content?.blurb.html"></section>

  <section id="what">
    <div class="left">
      <cdn-image
        class="img not-phones"
        cloudinaryId="bg/about-symposium.png"
        gravity="center"
        width="482"
        crop="scale"
        alt="'What We Did' background image"
        data-rellax-speed="-1"
        data-rellax-percentage=".3"
      ></cdn-image>
    </div>

    <div class="right">
      <h3 class="heading">What We Did</h3>
      <span class="blue"></span>

      <cdn-image
        class="img phones"
        cloudinaryId="bg/about-symposium.png"
        gravity="center"
        width="248"
        crop="scale"
        alt="'What We Did' image"
      ></cdn-image>

      <div [innerHtml]="content?.what.html"></div>
    </div>
  </section>

  <section id="who">
    <a routerLink="who">Right to the Smart City participants</a>
  </section>

  <section id="end">
    <h3 class="stroke">Now it’s your turn</h3>

    <p class="lg">
      Use our workshop guide to reproduce our process on a local level in order
      to ground-truth our general findings and provide local texture to the
      definition of smart.
    </p>
    <p class="indent">
      The workshop we provide is in the form of a day-long symposium, adapted
      from the model we piloted in March of 2018.
    </p>
    <div class="indent">
      <p>
        When used in conjunction with the five plays described, this workshop is
        intended to help cities to define their own localized version of
        ‘smart’, and to construct a workable strategy to encourage greater
        engagement with publics in the civic processes of designing the smart
        city.
      </p>
      <p>
        <app-button
          label="Start Workshop"
          route="/workshop"
          ariaLabel="Click to view workshop guide"
          class="pine"
        ></app-button>
      </p>
    </div>
  </section>
</div>
