<header class="main-head">
	<div class="banner"></div>
	  
	<div class="intro">
	  
	  <div class="heading">
		  <h1>
				<p>How do we make</p>
				Smart Cities Civic

		  </h1>
		</div>
	</div>

</header>

<div class="content">

	<section id="img">
		<cdn-image class="img not-phones" cloudinaryId="bg/about-top.png" gravity="center" width="453" crop="scale" alt="'About' banner background image" data-rellax-speed="1" data-rellax-percentage="0.3"></cdn-image>
		<cdn-image class="img phones" cloudinaryId="bg/about-top.png" gravity="center" width="165" crop="scale" alt="'About' banner background image"></cdn-image>
	</section>

	<section id="intro" [innerHtml]="content?.blurb.html">
	</section>

	<section id="what">
		
		<div class="left">
		
			<cdn-image class="img not-phones" cloudinaryId="bg/about-symposium.png" gravity="center" width="482" crop="scale" alt="'What We Did' background image"  data-rellax-speed="-1" data-rellax-percentage=".3"></cdn-image>
		
		</div>

		<div class="right">

		  <h3 class="heading">What We Did</h3>
			<span class="blue"></span>

			<cdn-image class="img phones" cloudinaryId="bg/about-symposium.png" gravity="center" width="248" crop="scale" alt="'What We Did' image"></cdn-image>

			<div [innerHtml]="content?.what.html"></div>
		</div>

	</section>

	<section id="who">
		
	  <a routerLink="who">Right to the Smart City participants</a>

	</section>


</div>