@import "~src/styles/_variables";

header {

	color: white;
  grid-template-rows: 1fr 2fr 2fr;

  .banner {
		grid-column: 1 /span 2;
		grid-row: 1 / span 1;
		background: $primary-blue;
		display: block;

		@include phones {
			max-width: 100px;
		}
  }
  .intro {
	  display: flex;
  	
  	grid-column: 1 / span 12;
		grid-row: 2 / span 2;

	  background-color: $primary-blue;
		flex-direction: column;
  }

	.heading {
		padding-top: 10%;
		padding-bottom: 10%;

		text-align: center;
		h1 {
			margin: 0;
			font-size: em(144px); 
			@include tablets {
				font-size: em(64px);
			}
			@include phones {
				font-size: em(48px);
			}
			p, div {
				margin: 0;
				text-transform: uppercase;
				@include font('Proza Libre', 500, .4em);
			}
		}
	}
}

section {
	&#img {
		position: relative;
		z-index: -3;
		left: 60%;
		grid-column: 3 / span 6;
		@include phones {
			grid-column: 3 / span 5;
		}
	}
}

#intro {
	margin-top: -40%;

	::ng-deep h2 {
		@include font('Proza Libre', 800, em(48px));
		@include phones {
			font-size: em(24px);
		}
	}
	::ng-deep h3 {
	  line-height: 1.5;
		@include font('Proza Libre', 500);
		font-size: em(18px);
		
		@include not-phones {
			font-size: em(24px);
			padding-left: 30%;
		}
	}
}

#callout h1 {
	color: $primary-blue;
	grid-column: 2 / span 11;

  line-height: 1.19;

	@include font('Butler-ExtraBold', 800, em(72px));

	@include phones {
		@include font('Butler-Bold', 800, em(30px));
	}
}

#what {

	display: flex;
	flex-direction: row;
	grid-column: 1 / span 10;

	@include phones {
		grid-column: 1 / span 12;
		flex-direction: column;
		font-size: .7em;
	}

	::ng-deep p {
		font-size: em(24px);
		strong {
			font-weight: 800;
		}
	}
	::ng-deep h4 {
		@include not-phones {
			padding-left: 10%;
		}
	  line-height: 1.6;
	  letter-spacing: 1px;
		@include font('Cabin', 600, em(20px));
	}

	@include not-phones {
		.left .img {
			z-index: -3;
		}
		.right {
			width: 70%;
			padding-left: 5%;
		}
	}
	.right {
		@include font('Proza Libre', 200, 1.1em);
		@include phones {
			span {
				margin-bottom: 10%;
			}
		}
	}

}

#who {

	margin-top: 10%;

	a {			
		@include font('Butler', 400, em(24px));
	  line-height: 1.33;
	  letter-spacing: 1.2px;
	  text-align: right;
	  color: $pine;
	  &:hover {
	  	text-decoration: underline;
	  }
	}

}

#end {

	margin-bottom: 200px;
	@include font('Proza Libre', 500);
	.indent {
		@include not-phones {
			padding-left: 10%;
		}
	  line-height: 1.6;
	  letter-spacing: 1px;
		@include font('Cabin', 600);
	}

}