@import "_variables";

body {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	margin: 0;
  
	app-root {
	  display: grid;
	  grid-template-columns: repeat(12, [col] 8.3%);
		grid-template-rows: repeat(2, [row] auto);

	}
	a {
		color: $primary-blue;
		text-decoration: none;
	}
	.lg {
		font-size: 1.3em;
	}
	.b {
		font-weight: 800;
	}
	@include phones {
		// &.nav {
		// 	overflow: hidden;
		// }
	}
	&.offwhite {
		background-color: $off-white;
	}
}

header {
	display: grid;
  grid-template-columns: repeat(12, [col] 8.3%);

	@include phones {
	  grid-template-columns: 0% 80%;
	}

	z-index: 1;
	top: 0;
	left: 0;

  .intro {
  	grid-column: 1 / span 10;
  	grid-row: 1 / span 2;

		@include phones {
			margin: 0;
	  	grid-column: 1 / span 12;
		}

		.indent {
			h1, h2 {
				margin: 0;
			}
			h2 {						
				@include font('Proza Libre', 800);
				font-size: 3.4em;
				@include not-phones {
					width: 70%;
				}
			}
	  	padding-top: 12%;
			@include not-phones {
		  	padding-left: 21%;
			}
		}
  }
}

h1 {
	font-family: 'Butler';
	font-size: em(72px);
	@include phones {
		font-size: em(57px);
	}
}
h3 {
	@include font('Proza Libre', 800, em(48px));
}

p {
	&.justify {
		@include font('Cabin', 500, em(16px));
	  text-align: justify;
	  letter-spacing: 2px;
	}
}
span.blue {
	display: block;
	grid-area: blue;
	width: 25px;
  height: 5px;
  background-color: $primary-blue;
}

footer {
	display: grid;

	grid-column: 4 / span 7;
	grid-row: 2;
	margin-top: 10%;

  @include phones {
		grid-column: 1 / span 12;
  }

  grid-template-columns: 2fr;
  grid-template-areas:
  "sub-nav logos";
	@include phones {
	  grid-template-areas:
	  "sub-nav"
	  "logos";
	}

  ul {
  	grid-area: sub-nav;
  	padding: 0;
  	list-style: none;
  }

	#logos {
		grid-area: logos;
		display: flex;
	  img {
	  	width: 80%;
	  }
	}
}

.content {	
	display: grid;
  grid-template-columns: repeat(12, [col] 8.3%);;
	@include phones {
	  grid-template-columns: 1fr;
	}
	section {
  	grid-column: 3 / span 8;
	}

	#end {
		padding-top: 4%;
		background-color: $off-white;
		grid-column: 3 / span 10;
		padding-left: 12%;
		padding-right: 20%;

		@include phones {
			padding-left: 5%;
			padding-right: 2%;
		}

		.indent {
			@include not-phones {
				padding-left: 10%;
			}
		}
	}
}

app-root {
	.wrapper {

		grid-column-start: 1;
		grid-column-end: 13;
		grid-row: 1;

	}
}

.stroke {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #000;
  margin: 0;
}

.img {
	position: relative;
	display: block;
}
.half {
	img {
		width: 50%;
	}
}