@import "_variables";

body {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	margin: 0;
  

	app-root {
	  display: grid;
	  grid-template-columns: repeat(12, [col] 8.3% );
		grid-template-rows: repeat(2, [row] auto);
	}
	a {
		color: $primary-blue;
		text-decoration: none;
	}
}

h1 {
	font-family: 'Butler';
}

app-root {
	.wrapper {

		grid-column: 1 / span 10;
		
		@include mq($until: tabletPortrait) {
			grid-column: 1 / span 12;
		}

		// main {
		// 	display: grid;
		//   grid-row: 3 / span 2;

		// 	@include mq($until: tabletPortrait) {
		// 		grid-column: 1;
		// 	}

		// 	z-index: 2;
			
		// 	header {
		// 		grid-row: 1;
		// 	}
		// 	.content {
		// 		grid-row: 2;
		// 	}
		//   .img {
		//   	z-index: 1;
		//   }
		// }

	}
}
.half {
	img {
		width: 50%;
	}
}

.stagger {
	p {
		width: 50%;
	}
	.right { 
		padding-top: 15%;
	}
	display: flex;
}

footer {
	display: grid;

	grid-column: 4 / span 7;
	grid-row: 2;
  grid-template-columns: 2fr;
  grid-template-areas:
  "sub-nav logos";
	@include mq($until: tabletPortrait) {
	  grid-template-areas:
	  "sub-nav"
	  "logos";
	}

  ul {
  	grid-area: sub-nav;
  	padding: 0;
  	list-style: none;
  }

	#logos {
		grid-area: logos;
		display: flex;
	  img {
	  	width: 80%;
	  }
	}
}